@use '../abstract/'as *;

.announcement {
  max-width: rem(340);
  margin: 0 auto;

  @include breakpoint-up(medium) {
    max-width: rem(720);
  }

  @include breakpoint-up(large) {
    max-width: rem(1140);
  }

  &__heading {
    @include font-face(oswald, rem(27), 400, #242424);
    margin: rem(16) auto rem(18);
    padding: rem(16) 0;
  }

  &__content {

    >ul {
      margin: 0 0 rem(16) 0;
      padding: rem(20) rem(10);

      >li {
        background-color: #fff;

        // border: {
        //   right: 1px solid rgb(47, 51, 54);
        //   bottom: 1px solid rgb(47, 51, 54);
        //   left: 1px solid rgb(47, 51, 54);
        // }

        padding: rem(36) rem(24);

        &:is(:nth-last-child(1)) {
          border-radius: 0 0 rem(10) rem(10);
        }

        border-radius: rem(10);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        margin-bottom: rem(18);
      }
    }

    .user {
      display: flex;
      align-items: center;

      >a>img {
        width: rem(46);
      }

      >div>a>div {
        margin-left: rem(16);

        >span {
          color: #000;

          >span {
            display: block;
            @include font-face(oswald, rem(18), 500, #242424);
            @include position(relative);

            &:hover {
              color: #780505;

              &::before {
                @include position(absolute, $content: '', $bottom: 0, $left: 0);
                background-color: #780505;
                height: rem(2);
                width: 100%;
              }
            }
          }
        }
      }
    }

    .tweet {
      >a {
        color: #242424;

        &:hover {
          color: #780505;
        }
      }
    }

    .timePosted {
      padding-top: rem(16);

      >a {
        color: #242424;
        @include font-face(abel, rem(14), 400);
        position: relative;
        letter-spacing: rem(1);
        padding: rem(2) 0;
        border-bottom: 2px solid #ea2340;
        text-transform: uppercase;

        &:hover {
          color: #780505;
          border-bottom: 2px solid #780505;
        }
      }
    }

    .media {
      &-wrapper {
        display: grid;
        grid-gap: rem(12);

        @include breakpoint-up(medium) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large) {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      >img {
        border-radius: rem(26);
        margin-bottom: rem(10);
      }
    }
  }
}