@use '../abstract/'as *;

.card {
  @include breakpoint-up(medium) {
    max-width: rem(1140);
    margin: 0 auto;
  }

  >ul {
    margin: 0;
    padding: 0;

    >li {
      background-color: #fff;
      padding: rem(36) rem(24);
    }
  }
}