@use '../abstract/'as *;

.card {
  @include breakpoint-up(medium) {
    max-width: rem(1140);
    margin: 0 auto;
  }

  >ul {
    margin: rem(48);
    padding: 0;

    @include breakpoint-up(medium) {
      column-count: 2;
      column-gap: rem(18);
    }

    @include breakpoint-up(large) {
      column-count: 3;
    }

    >li {
      background-color: #fff;
      border-radius: rem(10);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      margin-bottom: rem(18);
      padding: rem(36) rem(24);

      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;

    }
  }

  .user {
    display: flex;
    align-items: center;

    >div>a>div {
      margin-left: rem(16);

      >span {
        color: #000;

        >span {
          display: block;
          @include font-face(arial, rem(18), 700);
          @include position(relative);

          &:hover {
            color: #A71F23;

            &::before {
              @include position(absolute, $content: '', $bottom: 0, $left: 0);
              background-color: #A71F23;
              height: rem(3);
              width: 100%;
            }
          }
        }
      }
    }
  }

  .media {
    >img {
      border-radius: rem(18);
      margin-bottom: rem(10);
    }
  }

  a {
    color: #000;

    &:hover {
      color: #A71F23;
    }
  }
}